*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-image: url("../img/trees.jpg");
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
}
.hero-section{
    text-align: center;
    color: rgb(30, 30, 30);
    margin: 1rem 10%;
    padding: 1rem;
}
table{
    background-color: rgb(245, 245, 245);
    width: 90%;
    margin: auto;
    padding: 0.5rem;
}
td{
    padding: 0.5rem;
}
img{
    width: 15rem;
}
.footer{
    text-align: center;
    background-color: rgb(100, 200, 20);
    color: white;
    margin: 1rem 10% 0 10%;
    padding: 0.5rem;
}